.page-container {
    margin: 20px 80px;
    display: flex;
    flex-grow: 1;
}

.page-content {
    width: 29%;
}

.page-main-content {
    width: 42%;
    margin: 0 20px;
}

.page-item-container, .create-tweet, .tweets {
    box-shadow: 0 2px 4px 0 rgba(#000000, .3);
}

.page-item-container:first-child, .create-tweet {
    margin-bottom: 20px;
}

@media only screen and (max-width: 1330px) {
    .page-container {
        justify-content: center;
    }

    .page-main-content {
        width: 480px;
        margin: 0;
    }

    .page-content {
        display: none;
    }
}

@media only screen and (max-width: 697px) {    
    .page-container {
        margin: 0;
    }
}


@media only screen and (max-width: 480px) {
    .create-tweet {
        display: none;
    }

    .page-main-content {
        width: 100%;
    }
}
