.page-container {
    margin: 20px 80px;
    display: flex;
}

.page-content {
    width: 29%;
}

.page-main-content {
    width: 42%;
    margin: 0 20px;
}

.user-profile-container {
    margin-bottom: 20px;
    box-shadow: 0 2px 4px 0 rgba(#000000, .3);
}

.create-tweet {
    margin-bottom: 20px;
    box-shadow: 0 2px 4px 0 rgba(#000000, .3);
}

.tweets {
    box-shadow: 0 2px 4px 0 rgba(#000000, .3);
}