@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');
@import 'scss/normalize.scss';

@mixin defaultStates {
    &:hover {
        background-color: lighten($color: #000000, $amount: 0);
    }
}

:root {
    --blue: #1DA1F2;
    --yellow: #FFAD1F;
    --pink: #E0245E;
    --purple: #794BC4;
    --orange: #F45D22;
    --green: #17BF63;
    --background-color: #ECEFF1;
    --highlight-color: #FFFFFF;
    --light-highlight-color: #e2e2e2;
    --dark-highlight-color: #bbbbbb;
    --primary-text-color: #000000;
    --secondary-text-color: #9E9E9E;
    --tertiary-text-color: #757575;
    --theme-text-color: #FFFFFF;
    --theme-color: var(--blue);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;

    &:focus {
        outline: none;
    }
}

html {
    display: flex;
    width: 100%;
}

body {
    height: 100%;
    width: 100%;
    padding-top: 64px;
    display: flex;
    flex-direction: column;
    font-family: 'Roboto', sans-serif;
    background-color: var(--background-color);
}

.ripples-theme .ripple {
    background-color: var(--theme-color);
}

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active
{
    box-shadow: 0 0 0 30px var(--light-highlight-color) inset !important;
}
